{{ define "main" }}
<div class="page-list">
  <div class="container">
    <header class="page-list__header">
      <h1 class="page-list__title">{{ .Title }}</h1>
      {{ with .Description }}
        <p class="page-list__desc">{{ . }}</p>
      {{ end }}
    </header>

    {{ with .Content }}
      <div class="page-list__content">
        {{ . }}
      </div>
    {{ end }}

    <div class="posts-list">
      {{ range .Paginator.Pages }}
        {{ partial "post_card.html" . }}
      {{ end }}
    </div>

    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      {{ partial "pagination.html" . }}
    {{ end }}
  </div>
</div>
{{ end }}
