{{ define "main" }}
{{ $toc := .Params.toc | default .TableOfContents }}
{{ $hasToc := and (ne .Type "page") (gt (len (findRE "<a " $toc)) 0) }}
<div class="container post-layout" role="main">
  <div class="row flex-row post-layout__row">
    {{ if $hasToc }}
      <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
        <aside class="toc-sidebar">
          <h4 class="toc-title">Table of Contents</h4>
          <div class="toc-card">
            {{ $toc | safeHTML }}
          </div>
        </aside>
      </div>
      <div class="col-lg-9 col-md-9 post-layout__main">
    {{ else }}
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 post-layout__main">
    {{ end }}

        <section class="article-shell">
          <article role="main" class="blog-post">
            {{- $content := .Content -}}
{{- $content = replaceRE `([A-Za-z0-9._%+\-]+_)<a href="mailto:([A-Za-z0-9.%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,})">[^<]+</a>` `<a href="mailto:$1$2">$1$2</a>` $content -}}
{{ $content | safeHTML }}

            {{ if .Params.tags }}
              <div class="blog-tags">
                {{ range .Params.tags }}
                  <a href="{{ "tags" | absLangURL }}/{{ . | urlize }}/">{{ . }}</a>
                {{ end }}
              </div>
            {{ end }}

            {{ if $.Param "socialShare" }}
              <hr/>
              <section id="social-share">
                <div class="list-inline footer-links">
                  {{ partial "share-links" . }}
                </div>
              </section>
            {{ end }}

            {{ if .Site.Params.showRelatedPosts }}
              {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                {{ $.Scratch.Set "has_related" true }}
              {{ end }}

              {{ if $.Scratch.Get "has_related" }}
                <section class="article-related">
                  <h4 class="see-also">{{ i18n "seeAlso" }}</h4>
                  <ul>
                    {{ $num_to_show := .Site.Params.related_content_limit | default 5 }}
                    {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                  </ul>
                </section>
              {{ end }}
            {{ end }}
          </article>
        </section>

        {{ if ne .Type "page" }}
          <ul class="pager blog-pager">
            {{ if .PrevInSection }}
              <li class="previous">
                <a href="{{ .PrevInSection.RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
              </li>
            {{ end }}
            {{ if .NextInSection }}
              <li class="next">
                <a href="{{ .NextInSection.RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}

        {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and .Site.Params.comments (ne .Type "page"))) }}
          {{ if .Site.Params.cusdisID }}
            <div class="comments-shell cusdis-comments">
              <div id="cusdis_thread"
                data-host="https://cusdis.com"
                data-app-id="{{ .Site.Params.cusdisID }}"
                data-page-id="{{ .Permalink }}"
                data-page-url="{{ .Permalink }}"
                data-page-title="{{ .Title }}"
                data-theme="auto"
              ></div>
              <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
            </div>
          {{ end }}

          {{ if .Site.Config.Services.Disqus.Shortname }}
            {{ if .Site.Params.delayDisqus }}
              <div class="disqus-comments">
                <button id="show-comments" class="btn btn-default" type="button">{{ i18n "show" }} <span class="disqus-comment-count" data-disqus-url="{{ trim .Permalink "/" }}">{{ i18n "comments" }}</span></button>
                <div id="disqus_thread"></div>

                <script type="text/javascript">
                  var disqus_config = function () {
                    this.page.url = '{{ trim .Permalink "/" }}';
                  };
                </script>
              </div>
            {{ else }}
              <div class="disqus-comments">
                {{ partial "disqus-wrapper.html" . }}
              </div>
            {{ end }}
          {{ end }}

          {{ if .Site.Params.staticman }}
            <div class="staticman-comments">
              {{ partial "staticman-comments.html" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
  </div>
</div>
{{ end }}
