{{- $page := or .PageInner .Page -}}
{{- $dst := .Destination -}}
{{- $ext := path.Ext $dst | strings.ToLower -}}
{{- $img := "" -}}
{{- $full := "" -}}
{{- $srcset := "" -}}
{{- $ow := 0 -}}
{{- $oh := 0 -}}
{{- $eager := eq .Ordinal 0 -}}
{{- $skipProcess := or
  (not $dst)
  (strings.HasPrefix $dst "/")
  (strings.HasPrefix $dst "#")
  (strings.HasPrefix $dst "http://")
  (strings.HasPrefix $dst "https://")
  (strings.HasPrefix $dst "mailto:")
  (strings.HasPrefix $dst "tel:")
  (strings.HasPrefix $dst "data:")
  (eq $ext ".gif")
  (eq $ext ".svg")
-}}
{{- if not $skipProcess -}}
  {{- $res := partial "get-page-image.html" (dict "page" $page "path" $dst) -}}
  {{- with $res -}}
    {{- $ow = .Width -}}
    {{- $oh = .Height -}}
    {{- $displayW := 900 -}}
    {{- $fullW := 1600 -}}
    {{- if gt $ow $fullW -}}
      {{- $a1 := partial "process-image.html" (dict "image" . "width" $displayW) -}}
      {{- $a2 := partial "process-image.html" (dict "image" . "width" $fullW) -}}
      {{- $img = $a1 -}}
      {{- $full = $a2.RelPermalink -}}
      {{- $srcset = printf "%s %dw, %s %dw" $a1.RelPermalink $displayW $a2.RelPermalink $fullW -}}
    {{- else if gt $ow $displayW -}}
      {{- $a1 := partial "process-image.html" (dict "image" . "width" $displayW) -}}
      {{- $a2 := partial "process-image.html" (dict "image" . "width" $ow) -}}
      {{- $img = $a1 -}}
      {{- $full = $a2.RelPermalink -}}
      {{- $srcset = printf "%s %dw, %s %dw" $a1.RelPermalink $displayW $a2.RelPermalink $ow -}}
    {{- else -}}
      {{- $a := partial "process-image.html" (dict "image" .) -}}
      {{- $img = $a -}}
      {{- $full = $a.RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $src := "" -}}
{{- if not $img -}}
  {{- $src = partial "page-resource-url.html" (dict "page" $page "path" $dst) -}}
  {{- if and (not $full) $src -}}
    {{- $full = $src -}}
  {{- end -}}
{{- end -}}
<img
  class="blog-post__image"
  src="{{ if $img }}{{ $img.RelPermalink }}{{ else }}{{ $src }}{{ end }}"
  {{- if $srcset }} srcset="{{ $srcset }}" sizes="(max-width: 900px) calc(100vw - 32px), 850px"{{ end }}
  {{- if $ow }} width="{{ $ow }}" height="{{ $oh }}"{{ end }}
  {{- if $full }} data-fullsrc="{{ $full }}"{{ end }}
  alt="{{ .PlainText }}"
  {{- with .Title }} title="{{ . }}"{{- end }}
  loading="{{ if $eager }}eager{{ else }}lazy{{ end }}"
  {{- if $eager }} fetchpriority="high"{{ end }}
  decoding="async"
>
